@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap");

:root {
  --body--bg: #f8f9fa;
  --border--bg: #ffffff;
  --border--hover: #61d4df;
}

body {
  background: var(--body--bg);
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background: #313856;
  padding: 20px;
  width: 100%;
  height: 30px;
}

.left_area h3 {
  color: #61d5df;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: white;
}
.sidebar {
  background: #fcfdff;
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 280px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile_image {
  width: 90px;
  height: 90px;
  border: 2px solid #61d5df;
  border-radius: 100px;
  margin: 10px 0;
}

.sidebar h4 {
  color: rgb(65, 59, 59);
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #262c44;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
}

.sidebar a:hover {
  background: #ededed;
}

.sidebar i {
  padding-right: 10px;
}
.sidebar a:hover {
  color: #61d5df;
}

label #sidebar_btn {
  z-index: 1;
  color: rgb(46, 12, 95);
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
}

label #sidebar_btn:hover {
  color: rgb(117, 108, 108);
}

#check:checked ~ .sidebar {
  left: -190px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.content {
  margin-left: 350px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check {
  display: none;
}

.main {
  margin-left: 200px;
  padding: 5px;
}

.main h2 {
  margin-top: 20px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.catalog__product {
  margin-top: 75px;
  flex: 1 282px;
  max-width: 282px;
  height: 256px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid var(--border--bg);
  cursor: pointer;
}

.catalog__product:hover {
  border: 2px solid var(--border--hover);
}
.catalog__title {
  font-family: "Khula", sans-serif;
  padding-right: 5px;
  text-transform: uppercase;
}

.catalog__photo {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__price {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--body--bg);
  font-family: Arial, Helvetica, sans-serif;
}
